// src/assets/scss/_variables.scss
$primary-color: #1677ff; // Màu chính của AntD
$background-color: #f0f2f5;
$text-color: rgba(0, 0, 0, 0.88);
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);

$sidebar-dark-bg: #001529;
$logo-text-color: #fff;
